.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 1rem;
}

.App-header div {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}
.App-header section {
  display: flex;
  flex-flow: column nowrap;
  gap: .5rem;
}

p {
  margin: 0;
}

button {
  background-color: black;
  color: white;
  box-shadow: none;
  border: none;
  padding: .3rem
}

button:hover {
  background-color: lightblue;
  color: black;
  cursor: pointer;
}
